body {
  background-color: lightgray;
}

#heading {
  text-align: center;
  font-size: 30px;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

#wrapper {
  width: px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 5px;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 62%;
  height: 400px;
  outline: solid black 1px;
  border-style: inset;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}

#notes {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  float: right;
  width: 30%;
  outline: solid black 1px;
  border-style: ridge;
  background-color: silver;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: gray;
  font-family: Verdana, Geneva, sans-serif;
  outline: solid black 1px;
}

input {
  height: 25px;
  font-size: 13px;
}

textarea {
  height: 150px;
  font-size: 13px;
}