body {
  background-color: lightgray;
}

h1 {

}

#wrapper {
  width: px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 65%;
  height: 400px;
  outline: solid black 1px;
  padding-left: 12px;
  padding-right: 12px;
}

#notes {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  float: right;
  width: 30%;
  outline: solid black 1px;
  background-color: #4df164
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: gray;
}

input {
  height: 25px;
  font-size: 14px;
}

textarea {
  height: 150px;
  font-size: 14px;
}